h1 {
  hyphens: auto;
  margin: 0 0 20px;
  text-transform: uppercase;
  font: 800 $txt-xl $font-title;
}

h2 {
  margin: 0 0 20px;
  font: 800 $txt-l $font-title;
}

h4 {
  font-size: $txt-m;
  margin: 0 0 10px;
}

a {
  color: $color-main;
  text-decoration: none;
  transition: $transition;

  &:hover {
    color: $color-second;
  }
}

b,
strong {
  font-weight: 600;
}

img {
  object-fit: contain;
}

div.no-padding-top {
  padding-top: 0;
}

div.no-padding-bottom {
  padding-bottom: 0;
}

.orange {
  color: $color-second;
}

.blue {
  color: $color-main;
}

.white {
  color: $color-bg;
}

.grey-bg {
  background-color: $color-body;
}

.btn-orange {
  border: 0;
  width: 100px;
  padding: 10px;
  margin: 20px 0;
  display: block;
  color: $color-bg;
  text-align: center;
  border-radius: 20px;
  transition: $transition;
  background: $color-second;
  font: 600 calc(#{$txt-r} - 1px) $font-body;

  &:hover {
    color: $color-bg;
    background: darken($color-second, 10%);
  }
}

.btn-grey {
  @extend .btn-orange;
  background: $color-text;

  &:hover {
    color: $color-bg;
    background: darken($color-text, 10%);
  }
}

.vertical-align {
  display: flex;
  align-items: center;
}

.right-desktop {
  @include breakpoint(desktop) {
    text-align: right;
  }
}

.pushed-left {
  @include breakpoint(desktop) {
    margin-left: 100px;
    width: calc(100% - 100px);
  }
}

.noscroll {
  overflow: hidden;
}

.overlay-base {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  overflow-y: auto;

  .overlay-wrapper {
    height: auto;
    padding: 10px;
    position: static;
    border-radius: $br;
    margin: 5vh auto 1vh;
    background: $color-body;
    width: calc(90% - 20px);
    box-shadow: $img-shadow;

    @include breakpoint(desktop) {
      width: 760px;
      padding: 20px;
      margin: 80px auto 10px;
    }
  }

  .close-btn {
    position: absolute;
    top: 3vh;
    right: 3%;
    width: 50px;
    height: 50px;
    background: url("../images/icon-overlay.svg") no-repeat center;
    background-size: 40px;

    @include breakpoint(desktop) {
      top: 65px;
      right: calc(50% - 415px);
    }
  }

  h1 {
    width: 100%;
    text-align: center;
    margin: 20px 0 10px;
  }
}
