@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,900;1,400;1,600;1,700&display=swap");

// VARIABLES //
$font-title: "Montserrat", sans-serif;
$font-body: "Source Sans Pro", sans-serif;

$txt-s: 12px;
$txt-r: 16px;
$txt-m: 20px;
$txt-l: 28px;
$txt-xl: 40px;

$color-bg: #ffffff;
$color-body: #f1f1f1;
$color-text: #4b4f53;
$color-main: #2a66b1;
$color-second: #ed7f22;

// Design

$br: 20px;
$transition: all ease 0.25s;
$img-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

// MIXINS //

@mixin breakpoint($point, $value: 0) {
  @if $point == desktop {
    @media (min-width: 1024px) {
      @content;
    }
  }
}
