header {
  top: 0;
  z-index: 9;
  width: 100%;
  position: fixed;
}

.header {
  height: 50px;
  background: $color-bg;
  transition: $transition;

  @include breakpoint(desktop) {
    height: 65px;
    padding-top: 30px;
  }

  .wrapper {
    padding: 0;
    display: flex;
    max-width: 1020px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .burguer {
    width: 40px;
    height: 4px;
    display: block;
    cursor: pointer;
    padding: 23px 3px;

    @include breakpoint(desktop) {
      display: none;
    }

    .line {
      width: 100%;
      height: 4px;
      display: block;
      position: relative;
      background: $color-main;
      transition: $transition;

      &:before,
      &:after {
        width: 100%;
        height: 4px;
        content: "";
        display: block;
        background: $color-main;
        transition: $transition;
      }

      &:before {
        top: -11px;
        position: absolute;
      }

      &:after {
        bottom: -11px;
        position: absolute;
      }
    }

    &.active {
      .line {
        background: transparent;

        &:before {
          top: 0;
          transform: rotate(45deg);
        }

        &:after {
          bottom: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }

  &.sticky {
    @include breakpoint(desktop) {
      height: 50px;
      padding-top: 0;
      background: rgba(255, 255, 255, 0.9);
    }
  }
}

.header-logo {
  width: 200px;
  height: 40px;
  max-width: 50%;
  margin-left: 10px;
  margin-right: auto;
  align-self: center;

  @include breakpoint(desktop) {
    width: 225px;
    height: 55px;
    align-self: flex-start;
    transition: $transition;
  }

  a {
    display: block;
  }

  .sticky & {
    @include breakpoint(desktop) {
      height: 40px;
    }
  }

  img {
    @include breakpoint(desktop) {
      width: 260px;
      height: 55px;
      margin-top: 0;
      transition: $transition;
    }

    .sticky & {
      @include breakpoint(desktop) {
        width: 180px;
        height: 40px;
        margin-top: 5px;
      }
    }
  }
}

.header-right {
  display: flex;

  @include breakpoint(desktop) {
    width: 410px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

// FANOSA PHONE
.fanosa-phone {
  opacity: 1;
  display: none;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  overflow: hidden;

  @include breakpoint(desktop) {
    height: 22px;
    display: block;
  }

  &:before {
    content: "";
    width: 17px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/phone-icon.svg") no-repeat center;
    background-size: contain;
  }

  .sticky & {
    @include breakpoint(desktop) {
      opacity: 0;
      height: 0;
    }
  }
}

// SEARCH
.header-search {
  opacity: 1;
  display: none;
  transition: $transition;

  @include breakpoint(desktop) {
    height: 22px;
    display: inline-flex;
  }

  .sticky & {
    @include breakpoint(desktop) {
      opacity: 0;
      height: 0;
    }
  }
}

.search-txt {
  width: 180px;
}

/* GSearch */

.gsc-control-cse.gsc-control-cse-es {
  border: 0;
  padding: 0;
  background-color: transparent;

  form.gsc-search-box {
    margin: 0;

    table.gsc-search-box {
      margin: 0;
    }

    td.gsc-input {
      padding: 0;

      > .gsc-input-box {
        height: 22px;
        border-width: 0;
        background-color: transparent;

        table {
          height: 22px;
        }

        .gsib_a {
          padding: 0;

          input {
            line-height: 22px;
            margin: 0 !important;
            height: 22px !important;
            border-radius: 5px 0 0 5px;
            background-color: $color-body !important;
          }
        }

        .gsib_b {
          display: none;
        }
      }
    }

    td.gsc-search-button {
      margin-left: 0;

      button {
        margin: 0;
        border: 0;
        padding: 0;
        width: 22px;
        height: 22px;
        border-radius: 0 5px 5px 0;
      }
    }
  }
}

// LANGUAGE
.header-lang {
  opacity: 1;
  height: 22px;
  color: #87898e;
  font-size: $txt-s;
  margin-left: 10px;
  line-height: 20px;
  transition: $transition;

  span {
    margin: 0 10px;
  }

  a {
    color: #87898e;
    line-height: 20px;
    display: inline-block;

    &:hover {
      color: $color-second;
    }

    &.active {
      color: $color-text;
    }
  }

  .sticky & {
    @include breakpoint(desktop) {
      height: 0;
      opacity: 0;
    }
  }
}

// MENU DESKTOP
.header-menu {
  padding: 0;
  width: 100%;
  display: none;
  margin: 10px 0 0;
  list-style: none;
  font-weight: 700;
  flex-wrap: nowrap;
  justify-content: space-between;
  transition: $transition;

  @include breakpoint(desktop) {
    display: flex;
  }

  .menu-item > a {
    display: block;
    padding: 0 20px;
    line-height: 24px;
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
    transition: $transition;

    &:hover {
      border-bottom: 2px solid $color-second;
    }
  }

  a {
    display: block;
  }

  .sticky & {
    @include breakpoint(desktop) {
      margin-top: 17px;
    }
  }
}

.menu-productos {
  width: 150px;
  margin: 0 -20px;
  overflow: hidden;
  text-align: center;

  > a {
    width: 70px;
    margin: 0 auto;
    cursor: pointer;
  }

  &.active {
    overflow: visible;

    > a {
      color: $color-second;
      border-bottom: 2px solid $color-second;
    }
  }
}

.top-submenu {
  display: none;

  @include breakpoint(desktop) {
    height: 0;
    opacity: 0;
    padding: 0;
    width: 100%;
    display: block;
    font-size: 14px;
    list-style: none;
    font-weight: 400;
    overflow: hidden;
    border-radius: 0 0 15px 15px;
    background-color: rgba($color-bg, 0.7);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: $transition;
  }

  .active & {
    opacity: 1;
    height: 110px;
    padding: 10px 0;
  }

  li {
    line-height: 30px;
    background: transparent;
    transition: $transition;

    &:hover {
      background: rgba($color-second, 0.7);
    }
  }

  a {
    color: $color-text;
    transition: $transition;

    &:hover {
      color: $color-bg;
    }
  }
}

// MENU MOBILE - OVERLAY
.header-menu-overlay {
  left: 0;
  top: 50px;
  z-index: 10;
  display: none;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: calc(100% - 20px);
  height: calc(100% - 70px);
  background: rgba($color-main, 0.9);

  .fanosa-phone,
  .header-search {
    display: flex;
    max-width: 600px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
  }

  .fanosa-phone {
    padding: 0;
    font-size: 20px;
    color: $color-bg;
    padding-top: 10px;
    border-top: 1px solid $color-bg;

    &:before {
      width: 20px;
      height: 17px;
      background: url("../images/phone-icon-white.svg") left center no-repeat;
      background-size: contain;
    }

    &:hover {
      color: $color-second;
    }
  }

  .search-txt {
    width: 170px;
    height: 24px;
  }

  .search-btn {
    height: 30px;
    background-size: 14px;
  }
}

.overlay-menu {
  padding: 0;
  margin: 0 auto;
  color: $color-bg;
  max-width: 600px;
  list-style: none;

  > li {
    margin-bottom: 15px;

    > a {
      font-weight: 700;
    }
  }

  a {
    display: block;
    padding: 0 10px;
    color: $color-bg;
    line-height: 34px;
    font-size: $txt-m - 2px;
    background-color: transparent;
    transition: $transition;

    &:hover {
      color: $color-second;
      background-color: $color-bg;
    }
  }

  .overlay-submenu {
    padding: 0;
    list-style: none;

    a {
      padding: 0 20px;

      &:hover {
        color: $color-text;
      }
    }
  }
}
