.pdto-wrapper-img.greenblueboard {
  .producto-bg-right {
    margin-bottom: -90px;
    @include breakpoint(desktop) {
      margin-bottom: -220px;
    }
  }

  .feature-producto-right {
    max-width: 420px;
    @include breakpoint(desktop) {
      margin-left: -100px;
    }
  }
}
