.grid-base-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-evenly;

  @include breakpoint(desktop) {
    justify-content: space-between;
  }

  .base-grid {
    flex-grow: 1;
    height: 240px;
    cursor: pointer;
    min-width: 290px;
    max-width: 470px;
    overflow: hidden;
    position: relative;
    border-radius: $br;
    margin: 0 20px 30px;
    background: $color-bg;

    .galeria-base-img {
      top: 0;
      left: 0;
      opacity: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      transition: $transition;
    }

    .galeria-base-title {
      bottom: 0;
      height: auto;
      padding: 8px;
      color: $color-bg;
      position: absolute;
      text-align: center;
      background: $color-main;
      width: calc(100% - 16px);
      transition: $transition;
    }

    &:hover {
      .galeria-base-img {
        opacity: 0.7;
      }

      .galeria-base-title {
        background: $color-second;
      }
    }
  }

  &.videos {
    flex-wrap: wrap-reverse;

    .base-grid {
      height: auto;
      flex: 3 1 29%;
      cursor: pointer;
      overflow: hidden;
      min-width: 290px;
      margin-bottom: 30px;
      margin: 0 20px 30px;
    }
  }

  .overlay-wrapper & {
    .base-grid {
      height: 210px;
      min-width: 210px;
      max-width: 340px;
    }
  }
}

/* Estilos para grid de videos */

.video-wrapper {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  border-radius: $br;
  background: $color-text;

  .video-thumb {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    object-fit: cover;
    transition: $transition;
  }

  .video-play-icon {
    position: absolute;
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }

  &:hover {
    .video-thumb {
      opacity: 1;
    }
  }
}

.video-base-title {
  margin: 10px 0 5px;
}

.video-base-description {
  margin: 5px 0;
}

/* Estilos para Overlay de Videos */

.overlay-wrapper {
  iframe {
    width: 100%;
    height: 350px;

    @include breakpoint(desktop) {
      height: 550px;
    }
  }
}

/* Estilos para Overlay Galerías */

.overlay-categorias-btns {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  div {
    cursor: pointer;
    font-weight: 600;
    color: $color-main;
    margin: 0 15px 5px 0;

    &:hover {
      color: $color-second;
    }
  }
}

.overlay-slideshow {
  width: 100%;
  height: 550px;
  position: relative;
  margin-bottom: 30px;

  @include breakpoint(desktop) {
    height: 700px;
  }

  .js-carousel-viewer {
    width: 100% !important;
  }

  .js-button-layer {
    top: 175px;
    width: 100%;
    height: 65px;

    @include breakpoint(desktop) {
      top: 250px;
    }

    .js-carousel-btns {
      display: none;
    }

    .btn {
      width: 45px;
      height: 65px;
      overflow: hidden;
      position: absolute;
      text-indent: -999px;
      background-size: contain;
      background-repeat: no-repeat;

      &.prev {
        background-image: url("../images/slide-icon-back.svg");
      }
      &.next {
        right: 0;
        background-image: url("../images/slide-icon-next.svg");
      }
    }
  }

  .overlay-slideshow-slide {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100% !important;
    background: $color-body;
  }

  img {
    height: 450px;
    object-fit: cover;

    @include breakpoint(desktop) {
      height: 600px;
    }
  }

  .carousel-slide {
    height: 100px;
    overflow: auto;
  }

  h4,
  p {
    margin: 10px 0;
  }
}
